<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function test(){
            let domain = document.getElementById("domain").value
            console.log(domain)
            
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input name = "domain" id ="domain" placeholder = "Enter domain"/>
    <button id = "submit" onclick = "test()">Submit</button>
</body>
</html>